{% extends 'base.html' %}
{% load static %}


{% block 'title' %}DASHBOARD{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}


{% block 'content' %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        FARMATRACK
        <i class="fa fa-envira" aria-hidden="true"></i>
        <!-- <img src="{% static 'img/logo.png' %}" alt="My image"> -->
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div id="app">
    <div class="container-fluid" id="ExpenseMgmt">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/field">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                Fields
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/water">
                                <i class="fa fa-shower" aria-hidden="true"></i>
                                Water 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                Expenses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sale">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-steam-square" aria-hidden="true"></i>
                                Equipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Labour
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Crop Calendar 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Reports 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout 
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Expense</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" v-show="prev_page" v-on:click="show_prev">Previous</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-show="next_page" v-on:click="show_next">Next</button> -->
                        </div>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addExpenseModal">
                            Add &nbsp;&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- Add Modal -->
                <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Expense Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="addExpense" v-on:submit.prevent="onAddExpense">
                                <div class="mb-3">
                                    <label for="date">Date:</label>
                                    <input v-model="date" class="form-control" type="date" id="date" name="date">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea v-model="description" id="description" name="description" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="amount" class="form-label">Amount</label>
                                    <input v-model="amount" name="amount" class="form-control" type="number" id="amount" value="">
                                </div>
                                <div class="mb-3">
                                    <label for="selectField" class="form-label">Field</label>
                                    <select v-model="field_url" class="form-select" id="selectField" aria-label="Select Field">
                                        <option v-for="field in fields" v-bind:value="field.url">
                                          [[ field.field_sector ]]
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Add Modal -->

                <!-- Edit Expense Model -->
                <div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Expense Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="editExpense" v-on:submit.prevent="onEditExpense">
                                <div class="mb-3">
                                    <label for="date">Date:</label>
                                    <input v-model="date" class="form-control" type="date" id="date" name="date">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea v-model="description" id="description" name="description" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="amount" class="form-label">Amount</label>
                                    <input v-model="amount" name="amount" class="form-control" type="number" id="amount" value="">
                                </div>
                                <div class="mb-3">
                                    <label for="selectField" class="form-label">Field</label>
                                    <select v-model="field_url" class="form-select" id="selectField" aria-label="Select Field">
                                        <option v-for="field in fields" v-bind:value="field.url">
                                          [[ field.field_sector ]]
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Edit Expense Model -->

                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Field</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(expense, index) in expenses" :key="index">
                                <th scope="row">[[ index+1 ]]</th>  
                                <td>[[ expense.date ]]</td> 
                                <td>[[ expense.description ]]</td>  
                                <td>[[ expense.amount ]]</td>  
                                <td>[[ expense.field_name ]]</td>  
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" v-on:click="editExpense(expense, index)" data-bs-toggle="modal" data-bs-target="#editExpenseModal">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteExpense(expense, index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="data_pagination d-flex flex-row-reverse" v-show="next_page">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination align-items-center">
                            <li v-show="prev_page" v-on:click="show_prev" class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <div v-for="item in no_of_pages">
                                <li class="page-item" :class="{ 'active' : item == current_page}">
                                    <a class="page-link" href="#" v-on:click="show_page(item)">[[ item ]]</a>
                                </li>
                            </div>
                            <li class="page-item" v-show="next_page" v-on:click="show_next">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}


{% block 'script' %}
<script src="/static/js/expense.js"></script>
{% endblock %}