{% extends 'base.html' %}
{% load static %}


{% block 'title' %}DASHBOARD{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}


{% block 'content' %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        FARMATRACK
        <i class="fa fa-envira" aria-hidden="true"></i>
        <!-- <img src="{% static 'img/logo.png' %}" alt="My image"> -->
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div id="app">
    <div class="container-fluid" id="PurchaseMgmt">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/field">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                Fields
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/water">
                                <i class="fa fa-shower" aria-hidden="true"></i>
                                Water 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/expense">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                Expenses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sale">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                Purchase
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-steam-square" aria-hidden="true"></i>
                                Equipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Labour
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Crop Calendar 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Reports 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout 
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Purchase</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" v-show="prev_page" v-on:click="show_prev">Previous</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-show="next_page" v-on:click="show_next">Next</button> -->
                        </div>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addPurchaseModal">
                            Add &nbsp;&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- Add Modal -->
                <div class="modal fade" id="addPurchaseModal" enctype="multipart/form-data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add purchase Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="addPurchase" v-on:submit.prevent="onAddPurchase">
                                <div class="mb-3">
                                    <label for="date">Date:</label>
                                    <input v-model="date" class="form-control" type="date" id="date" name="date">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea v-model="description" id="description" name="description" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="crop" class="form-label">Crop</label>
                                    <select v-model="crop" class="form-select"  name="crop" id="crop">
                                        <!-- <option value="SUGARCANE">SUGARCANE</option> -->
                                        <option value="SOYABEAN">SOYABEAN</option>                          
                                        <!-- <option value="OKRA">OKRA</option>
                                        <option value="ZUCHHINI">ZUCHHINI</option>
                                        <option value="CHILLY">CHILLY</option> -->
                                   </select>
                                </div>
                                <div class="mb-3">
                                    <label for="rate" class="form-label">Rate</label>
                                    <input v-model="rate" name="rate" class="form-control" type="number" id="rate">
                                </div>
                                <div class="mb-3">
                                    <label for="total_bill" class="form-label">Total Bill</label>
                                    <input v-model="total_bill" name="total_bill" class="form-control" type="number" id="total_bill">
                                </div>
                                <div class="mb-3">
                                    <label for="quantity_uom" class="form-label">Quantity UOM</label>
                                    <select v-model="quantity_uom" class="form-select"  name="quantity_uom" id="quantity_uom">
                                        <option value="KILOS">KILOS</option>
                                        <option value="QUINTALS">QUINTALS</option>
                                        <option value="TONNES">TONNES</option>
                                   </select>
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input v-model="quantity" name="quantity" class="form-control" type="number" id="quantity">
                                </div>
                                <div class="mb-3">
                                    <label for="reciept" class="form-label">Reciept</label>
                                    <input @change="handleRecieptUpload" type="file" class="form-control" id="reciept" required>
                                </div>
                                <div class="mb-3">
                                    <label for="sold_by" class="form-label">Sold By</label>
                                    <input v-model="sold_by" type="text" class="form-control" id="sold_by" required>
                                </div>
                                <div class="mb-3">
                                    <label for="seller_contact" class="form-label">Seller Contact</label>
                                    <input v-model="seller_contact" type="text" class="form-control" id="seller_contact" required>
                                </div>
                                <div class="mb-3">
                                    <label for="paid_amt" class="form-label">Paid Amt.</label>
                                    <input v-model="paid_amt" name="paid_amt" class="form-control" type="number" id="paid_amt">
                                </div>
                                <div class="mb-3">
                                    <label for="pending_amt" class="form-label">Pending Amt.</label>
                                    <input v-model="pending_amt" name="pending_amt" class="form-control" type="number" id="pending_amt">
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <select v-model="status" class="form-select"  name="status" id="status">
                                        <option value="PENDING">PENDING</option>
                                        <option value="PAID">PAID</option>
                                   </select>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Add Modal -->

                <!-- Edit purchase Modal -->
                <div class="modal fade" id="editpurchaseModal" enctype="multipart/form-data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit purchase Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="editPurchase" v-on:submit.prevent="onEditPurchase">
                                <div class="mb-3">
                                    <label for="date">Date:</label>
                                    <input v-model="date" class="form-control" type="date" id="date" name="date">
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea v-model="description" id="description" name="description" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="crop" class="form-label">Crop</label>
                                    <select v-model="crop" class="form-select"  name="crop" id="crop">
                                        <!-- <option value="SUGARCANE">SUGARCANE</option> -->
                                        <option value="SOYABEAN">SOYABEAN</option>                          
                                        <!-- <option value="OKRA">OKRA</option>
                                        <option value="ZUCHHINI">ZUCHHINI</option>
                                        <option value="CHILLY">CHILLY</option> -->
                                   </select>
                                </div>
                                <div class="mb-3">
                                    <label for="rate" class="form-label">Rate</label>
                                    <input v-model="rate" name="rate" class="form-control" type="number" id="rate">
                                </div>
                                <div class="mb-3">
                                    <label for="total_bill" class="form-label">Total Bill</label>
                                    <input v-model="total_bill" name="total_bill" class="form-control" type="number" id="total_bill">
                                </div>
                                <div class="mb-3">
                                    <label for="quantity_uom" class="form-label">Quantity UOM</label>
                                    <select v-model="quantity_uom" class="form-select"  name="quantity_uom" id="quantity_uom">
                                        <option value="KILOS">KILOS</option>
                                        <option value="QUINTALS">QUINTALS</option>
                                        <option value="TONNES">TONNES</option>
                                   </select>
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input v-model="quantity" name="quantity" class="form-control" type="number" id="quantity">
                                </div>
                                <div class="mb-3">
                                    <label for="reciept" class="form-label">Reciept</label>
                                    <input @change="handleRecieptUpload" type="file" class="form-control" id="reciept" required>
                                </div>
                                <div class="mb-3">
                                    <label for="sold_by" class="form-label">Sold By</label>
                                    <input v-model="sold_by" type="text" class="form-control" id="sold_by" required>
                                </div>
                                <div class="mb-3">
                                    <label for="seller_contact" class="form-label">Seller Contact</label>
                                    <input v-model="seller_contact" type="text" class="form-control" id="seller_contact" required>
                                </div>
                                <div class="mb-3">
                                    <label for="paid_amt" class="form-label">Paid Amt.</label>
                                    <input v-model="paid_amt" name="paid_amt" class="form-control" type="number" id="paid_amt">
                                </div>
                                <div class="mb-3">
                                    <label for="pending_amt" class="form-label">Pending Amt.</label>
                                    <input v-model="pending_amt" name="pending_amt" class="form-control" type="number" id="pending_amt">
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <select v-model="status" class="form-select"  name="status" id="status">
                                        <option value="PENDING">PENDING</option>
                                        <option value="PAID">PAID</option>
                                   </select>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Edit purchase Model -->

                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Crop</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Total Bill</th>
                            <th scope="col">Qty UOM</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Receipt</th>
                            <th scope="col">Sold By</th>
                            <th scope="col">Seller #</th>
                            <th scope="col">PO</th>
                            <th scope="col">Paid Amt.</th>
                            <th scope="col">Pending Amt.</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(purchase, index) in purchases" :key="index">
                                <th scope="row">[[ index+1 ]]</th>  
                                <td>[[ purchase.date ]]</td>
                                <td>[[ purchase.description ]]</td>
                                <td>[[ purchase.crop ]]</td>
                                <td>[[ purchase.rate ]]</td>
                                <td>[[ purchase.total_bill ]]</td>
                                <td>[[ purchase.quantity_uom ]]</td>
                                <td>[[ purchase.quantity ]]</td>
                                <td>
                                    <a v-bind:href="purchase.reciept" class="btn btn-primary btn-sm" target="_blank">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>[[ purchase.sold_by ]]</td>
                                <td>[[ purchase.seller_contact ]]</td>
                                <td>[[ purchase.purchase_order ]]</td>
                                <td>[[ purchase.paid_amt ]]</td>
                                <td>[[ purchase.pending_amt ]]</td>
                                <td>[[ purchase.status ]]</td>  
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" v-on:click="editPurchase(purchase, index)" data-bs-toggle="modal" data-bs-target="#editpurchaseModal">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger" v-on:click="deletepurchase(purchase, index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="data_pagination d-flex flex-row-reverse" v-show="next_page">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination align-items-center">
                            <li v-show="prev_page" v-on:click="show_prev" class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <div v-for="item in no_of_pages">
                                <li class="page-item" :class="{ 'active' : item == current_page}">
                                    <a class="page-link" href="#" v-on:click="show_page(item)">[[ item ]]</a>
                                </li>
                            </div>
                            <li class="page-item" v-show="next_page" v-on:click="show_next">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}


{% block 'script' %}
<script src="/static/js/purchase.js"></script>
{% endblock %}