{% extends 'base.html' %}
{% load static %}


{% block 'title' %}DASHBOARD{% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}


{% block 'content' %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        FARMATRACK
        <i class="fa fa-envira" aria-hidden="true"></i>
        <!-- <img src="{% static 'img/logo.png' %}" alt="My image"> -->
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div id="app">
    <div class="container-fluid" id="waterMgmt">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/field">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                Fields
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">
                                <i class="fa fa-shower" aria-hidden="true"></i>
                                Water 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                Expenses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-steam-square" aria-hidden="true"></i>
                                Equipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Labour
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                Crop Calendar 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Reports 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Logout 
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Water</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-show="prev_page" v-on:click="show_prev">Previous</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary" v-show="next_page" v-on:click="show_next">Next</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addWaterModal">
                            Add &nbsp;&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        

                    </div>
                </div>

                <!-- Add Modal -->
                <div class="modal fade" id="addWaterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Water Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="addWater" v-on:submit.prevent="onAddWater">
                                <div class="mb-3">
                                    <label for="selectField" class="form-label">Field</label>
                                    <select v-model="field_url" class="form-select" id="selectField" aria-label="Select Field">
                                        <option v-for="field in fields" v-bind:value="field.url">
                                          [[ field.field_sector ]]
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="waterStart">Start (date and time):</label>
                                    <input v-model="start" class="form-control" type="datetime-local" id="waterStart" name="waterStart">
                                </div>
                                <div class="mb-3">
                                    <label for="waterEnd">End (date and time):</label>
                                    <input v-model="end" class="form-control" type="datetime-local" id="waterEnd" name="waterEnd">
                                </div>
                                <div class="mb-3">
                                    <label for="selectMode" class="form-label">Mode</label>
                                    <select v-model="mode" class="form-select" id="selectMode" aria-label="Select Mode">
                                        <option value="DIRECT">Direct</option>
                                        <option value="DRIP">Drip</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="source" class="form-label">Source</label>
                                    <select v-model="source" class="form-select" id="source" aria-label="source">
                                        <option value="WELL">WELL</option>
                                        <option value="BORE WELL">BORE WELL</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Add Modal -->

                <!-- Edit Water Model -->
                <div class="modal fade" id="editWaterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Water Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div v-show="errors.length > 0">
                                <div v-for="(error, index) in errors" :key="index">
                                    <div class="alert alert-danger" role="alert">
                                        [[ error ]]
                                    </div>
                                </div>
                            </div>
                            <form method="POST" id="editWater" v-on:submit.prevent="onEditWater">
                                <div class="mb-3">
                                    <label for="selectField" class="form-label">Field</label>
                                    <select v-model="field_url" class="form-select" id="selectField" aria-label="Select Field">
                                        <option v-for="field in fields" v-bind:value="field.url">
                                          [[ field.field_sector ]]
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="waterStart">Start (date and time):</label>
                                    <input v-model="start" class="form-control" type="datetime-local" id="waterStart" name="waterStart">
                                </div>
                                <div class="mb-3">
                                    <label for="waterEnd">End (date and time):</label>
                                    <input v-model="end" class="form-control" type="datetime-local" id="waterEnd" name="waterEnd">
                                </div>
                                <div class="mb-3">
                                    <label for="selectMode" class="form-label">Mode</label>
                                    <select v-model="mode" class="form-select" id="selectMode" aria-label="Select Mode">
                                        <option value="DIRECT">Direct</option>
                                        <option value="DRIP">Drip</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="source" class="form-label">Source</label>
                                    <select v-model="source" class="form-select" id="source" aria-label="source">
                                        <option value="WELL">WELL</option>
                                        <option value="BORE WELL">BORE WELL</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Edit Water Model -->

                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Source</th>
                            <th scope="col">Mode</th>
                            <th scope="col">Field</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(water,index) in waters" :key="index">
                                <th scope="row">[[ index+1 ]]</th>  
                                <td>[[ water.start ]]</td> 
                                <td>[[ water.end ]]</td>  
                                <td>[[ water.source ]]</td>  
                                <td>[[ water.mode ]]</td>  
                                <td>[[ water.field_name ]]</td>  
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" v-on:click="editWater(water, index)" data-bs-toggle="modal" data-bs-target="#editWaterModal">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteWater(water, index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}


{% block 'script' %}
<script src="/static/js/water.js"></script>
{% endblock %}